<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="StationEditorPanel">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL2" variable="Panel1" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer2" member="no">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxRadioBox" name="ID_RADIOBOX1" variable="rbPlan" member="yes">
								<label>Plan</label>
								<content>
									<item>Weekday</item>
									<item>Morning Rush</item>
									<item>Evening Rush</item>
									<item>Weekend</item>
									<item>Night</item>
									<item>Custom</item>
								</content>
								<default>-1</default>
								<style>wxRA_VERTICAL</style>
								<handler function="OnrbPlanSelect" entry="EVT_RADIOBOX" />
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							<border>1</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL3" variable="Panel2" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer3" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
								<label>Start Time</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>1</border>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="txtStart" member="yes">
								<style>wxTE_PROCESS_ENTER</style>
								<handler function="OntxtStartTextEnter" entry="EVT_TEXT_ENTER" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						</object>
						<object class="sizeritem">
							<object class="wxSpinButton" name="ID_SPINBUTTON1" variable="sbStart" member="yes">
								<max>100</max>
								<style>wxSP_VERTICAL|wxSP_ARROW_KEYS|wxSP_WRAP</style>
								<handler function="OnsbStartChange" entry="EVT_SPIN" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						</object>
						<object class="spacer">
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
								<label>End Time</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>1</border>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="txtEnd" member="yes">
								<style>wxTE_PROCESS_ENTER</style>
								<handler function="OntxtEndTextEnter" entry="EVT_TEXT_ENTER" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						</object>
						<object class="sizeritem">
							<object class="wxSpinButton" name="ID_SPINBUTTON2" variable="sbEnd" member="yes">
								<max>100</max>
								<style>wxSP_VERTICAL|wxSP_ARROW_KEYS|wxSP_WRAP</style>
								<handler function="OnsbEndChange" entry="EVT_SPIN" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						</object>
						<object class="spacer">
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
								<label>Interval</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>1</border>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="txtInterval" member="yes">
								<style>wxTE_PROCESS_ENTER</style>
								<handler function="OntxtIntervalTextEnter" entry="EVT_TEXT_ENTER" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						</object>
						<object class="sizeritem">
							<object class="wxSpinButton" name="ID_SPINBUTTON3" variable="sbInterval" member="yes">
								<max>100</max>
								<style>wxSP_VERTICAL|wxSP_ARROW_KEYS|wxSP_WRAP</style>
								<handler function="OnsbIntervalChangeUp" entry="EVT_SPIN_UP" />
								<handler function="OnsbIntervalChangeDown" entry="EVT_SPIN_DOWN" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="panTimetable" member="yes">
					<object class="wxBoxSizer" variable="bsTimetable" member="no">
						<object class="sizeritem">
							<object class="Custom" name="ID_TIMETABLE_GRID" subclass="wxGrid" variable="gdTimetable" member="yes">
								<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
								<include_file>wx/grid.h</include_file>
								<style>wxWANTS__CHARS</style>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
