<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="TimeTablePanel">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer2" member="no">
						<object class="sizeritem">
							<object class="wxRadioBox" name="ID_RADIOBOX1" variable="rbPlans" member="yes">
								<label></label>
								<content>
									<item>Weekday</item>
									<item>Morning Rush</item>
									<item>Evening Rush</item>
									<item>Weekend</item>
									<item>Night</item>
									<item>Custom</item>
								</content>
								<style>wxRA_VERTICAL</style>
								<handler function="OnrbPlansSelect" entry="EVT_RADIOBOX" />
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer3" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
								<label>Start time:</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="txtBegin" member="yes">
								<style>wxTE_PROCESS_ENTER</style>
								<handler function="OntxtBeginTextEnter" entry="EVT_TEXT_ENTER" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxSpinButton" name="ID_SPINBUTTON1" variable="sbBegin" member="yes">
								<max>100</max>
								<style>wxSP_VERTICAL|wxSP_ARROW_KEYS|wxSP_WRAP</style>
								<handler function="OnsbBeginChange" entry="EVT_SPIN" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
								<label>End time:</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="txtEnd" member="yes">
								<style>wxTE_PROCESS_ENTER</style>
								<handler function="OntxtEndTextEnter" entry="EVT_TEXT_ENTER" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxSpinButton" name="ID_SPINBUTTON2" variable="sbEnd" member="yes">
								<max>100</max>
								<style>wxSP_VERTICAL|wxSP_ARROW_KEYS|wxSP_WRAP</style>
								<handler function="OnsbEndChange" entry="EVT_SPIN" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
								<label>Interval:</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="txtInterval" member="yes">
								<style>wxTE_PROCESS_ENTER</style>
								<handler function="OntxtIntervalTextEnter" entry="EVT_TEXT_ENTER" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxSpinButton" name="ID_SPINBUTTON3" variable="sbInterval" member="yes">
								<max>100</max>
								<style>wxSP_VERTICAL|wxSP_ARROW_KEYS|wxSP_WRAP</style>
								<handler function="OnsbIntervalChangeUp" entry="EVT_SPIN_UP" />
								<handler function="OnsbIntervalChangeDown" entry="EVT_SPIN_DOWN" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
			</object>
			<object class="sizeritem">
				<object class="wxGrid" name="ID_GRID1" variable="gdTimetable" member="yes">
					<cols>7</cols>
					<rows>25</rows>
					<readonly>1</readonly>
					<labelcolwidth>20</labelcolwidth>
					<collabels>
						<item>Monday</item>
						<item>Tuesday</item>
						<item>Wednesday</item>
						<item>Thursday</item>
						<item>Friday</item>
						<item>Saturday</item>
						<item>Sunday</item>
					</collabels>
					<rowlabels>
						<item>x</item>
						<item>0</item>
						<item>1</item>
						<item>2</item>
						<item>3</item>
						<item>4</item>
						<item>5</item>
						<item>6</item>
						<item>7</item>
						<item>8</item>
						<item>9</item>
						<item>10</item>
						<item>11</item>
						<item>12</item>
						<item>13</item>
						<item>14</item>
						<item>15</item>
						<item>16</item>
						<item>17</item>
						<item>18</item>
						<item>19</item>
						<item>20</item>
						<item>21</item>
						<item>22</item>
						<item>23</item>
					</rowlabels>
					<handler function="OngdTimetableCellLeftClick" entry="EVT_CMD_GRID_CELL_LEFT_CLICK" />
					<handler function="OngdTimetableResize" entry="EVT_SIZE" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer4" member="no">
						<object class="sizeritem">
							<object class="wxCheckListBox" name="ID_CHECKLISTBOX1" variable="clbOptions" member="yes">
								<content>
									<item>Expand</item>
								</content>
								<handler function="OnclbOptionsToggled" entry="EVT_CHECKLISTBOX" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
